<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="cart-container">
        <li class="cart-item" *ngFor="let product of cart">
          <button (click)="goToProductDetail(product)">
            <img src={{product.url}} alt={{product.name}}>
          </button>
          <div class="cart-item-details">
            <span>{{product.name}}</span>
            <div>Price Each: ${{product.price}}</div>
            <div>Quantity: {{product.quantity}}</div>
            <input (change)="quantityChange($event, product)" class="number-input" type="number" name="quantity" id="quantity" min="1" value={{product.quantity}}>
            <button (click)="removeProduct(product)" class="btn btn-danger">Remove</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div *ngIf="cart.length > 0">
        <h3>Order Details:</h3>
        <h5>Total Price: {{totalParsed}}</h5>
        <form #form="ngForm" (ngSubmit)="submitOrder()" class="checkout">
            <label for="name">
              Full Name
              <br>
              <input
                required
                #customerName="ngModel"
                placeholder="(minimum 5 characters)"
                minlength="5"
                type="text"
                name="name"
                id="name"
                [(ngModel)]="name">
            </label>
            <label for="address">
              Address
              <br>
              <input
                type="text"
                #customerAddress="ngModel"
                required
                minlength="8"
                name="address"
                id="address"
                [(ngModel)]="address">
            </label>
            <label for="cc">
              Credit Card Number
              <input
                #creditCardNumber="ngModel"
                type="text"
                required
                pattern="[\d]*"
                minlength="16"
                maxlength="16"
                name="cc"
                id="cc"
                [(ngModel)]="cc"
                (ngModelChange)="validateCreditCard($event)">
            </label>
            <button [disabled]="form.invalid" class="btn btn-primary" type="submit">Submit</button>
          </form>
          <div *ngIf="customerName.invalid && customerName.dirty">
            <div *ngIf="customerName.errors?.['required']">
              Please provide your full name.
            </div>
            <div *ngIf="customerName.errors?.['minlength']">
              Full name field must contain at least 5 characters.
            </div>
          </div>
          <div *ngIf="customerAddress.invalid && customerAddress.dirty">
            <div *ngIf="customerAddress.errors?.['required']">
              Please provide your address.
            </div>
            <div *ngIf="customerAddress.errors?.['minlength']">
              Address field must contain at least 8 characters.
            </div>
          </div>
          <div *ngIf="creditCardError.length > 0 && creditCardNumber.dirty">
            <div *ngFor="let error of creditCardError">
              <div>{{error}}</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="cart.length == 0">
    <div class="empty-cart-message">
      Your cart is empty =(
      <br>
      <a routerLink='/'>
        Go add some cool stuff!
      </a>
    </div>
  </div>
</div>
